@font-face {
  font-family: 'Montserrat Regular';
  src: url('../public/fonts/Montserrat-Regular.ttf') format('truetype');
}

$font-size: 1rem;
$font-color: lch(28 99 35);

html {
  font-size: $font-size;
  color: $font-color;
  font-family: Montserrat Regular;
}
